/*general styles*/
html, body{
	height:100%;
	width:100%;
}

/*padding section*/
.pad-section {
	padding: 50px 0;
}
.pad-section img{
	width: 100%;
}
/*vertical-centered text*/
.text-vcenter {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	/*background-color: #333;*/
	color: #fff;
}
.text-vcenter h1{
	font-size: 100px;
	font-weight: 900;
	color: #ffffff;
	margin: 0;
	padding: 0;
	font-family:'Montserrat',serif;
}

/* addition sections */
#home {
	background: url(../img/temp2.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-color: #000000;
}

#about {
	/*background-color: #5cb85c;
	color: #ffffff;*/
  background: url(../img/temp3.png) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	/*background-color: #ffc777;*/
}
.about-vcenter {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	/*background-color: #333;*/
}

#skills {
  background: url(../img/temp4.png) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
#portfolio {
  background: url(../img/temp6.png) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-color: #000000;
}
#services .glyphicon{
	border: 2px solid #ffffff;
	border-radius: 50%
	display:inline-block;
	font-size: 60px;
	height: 140px;
	line-height: 140px;
	text-align: center;
	vertical-align: middle;
	width: 140px;
}

#information {
	background: url(../img/2.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}

#information .panel{
	opacity: 0.85;
}

#contact {
	margin-top: 20px;
	margin-bottom: 20px;
}

footer {
	padding: 20px 0;
}
footer .glyphicon {
	color: #333333;
	font-size: 60px;
}
footer .glyphicon:hover {
	color: #306d9f;
}
.btn-transparent {
  border: 3px solid;
  background-color: transparent;
  border-color: #ffffff;
  border-radius: 0px;
  color: #ffffff;
  margin-bottom: 0;
}
.btn-transparent:focus,
.btn-transparent.focus {
  color: #8be858;
  background-color: transparent;
  border-color: #8be858;
}
.btn-transparent:hover {
  color: #8be858;
  background-color: transparent;
  border-color: #8be858;
}
.btn-transparent:active,
.btn-transparent.active,
.open > .dropdown-toggle.btn-transparent {
  color: #8be858;
  background-color: transparent;
  border-color: #8be858;
}
.forheaders {
	font-family:'Montserrat',serif;
	font-weight: 900;
	color: #4a9fc2;
}
.forbody {
	font-family:'ABeeZee',serif;
	text-align: justify;
	text-justify:inter-word;
}

/*CSS for progress bars*/

.centerer { text-align: center;}

.bar-main-container {
  margin: 10px auto;
  width: 100%;
  height: 50px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 0.8em;
  color: #FFF;
}

.wrap { padding: 8px; }
.wrap-bar { padding: 5px; }

.text-style {
  font-family:'Montserrat',serif;
  float: left;
  margin: 25px;
  width: 20% auto;
  color: #ffffff;

}

/*Bar number percentage background*/

.bar-percentage {
  float: left;
  background: rgba(0,0,0,0.13);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 9px 0px;
  width: 10%;
  height: 32px;
}

/*Bar background*/

.bar-container {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 15px;
  background: rgba(0,0,0,0.13);
  width: 50%;
  margin: 9px auto;
  overflow: hidden;
}

/*Bar moving*/

.bar {
  float: left;
  background: #FFF;
  height: 100%;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

/* COLORS */
.forwebdesign {background: #E67E22;}
.forwebdevelopment { background: #E44C41; }
.foruiux {background: #2C3E50;}
.forsoftwaredev {background: #674172;}
.forgraphicdesign {background: #2ecc71;}
.foradvertising {background: #F62459;}
.for2danimation {background: #757D75;}
.for3dmodeling {background: #003171;}

.header-skills {
	font-family:'Montserrat',serif;
	color: #4f4f4f;
	font-weight: 900;
}

/* Test  portfolio */


/* Another progress */


.chart {
  position: relative;
  display: inline-block;
  margin: 20px 30px;
  color: #00000;
  font-size: 14px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.forcontact {
  width: 550px;
  height: 100%;
}

.forexp {
  font-family:'ABeeZee',serif;
}